html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, rgb(170, 240, 247), rgb(8, 200, 214));
}

.night-mode-body {
  background: linear-gradient(
    to bottom right,
    rgb(39, 56, 150),
    rgb(38, 6, 77),
    rgb(33, 5, 66)
  );
}

header {
  text-align: center;
  color: whitesmoke;
  border-bottom: 2px solid #686868;
  padding: 50px;
}

nav {
  border-bottom: 2px solid #333333;
  background-color: #f0eeee;
}

.search-history {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.prev-search {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 3px;
  border: 2px solid #333333;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgb(105, 104, 104);
  min-height: 500px;
  background-color: #f0eeee;
}

.btn-info {
  margin-top: 5px;
  margin-bottom: 3px;
}

.custom-btn {
  background: linear-gradient(to bottom right, #2476ce, #1c2b5a);
  color: whitesmoke;
  font-size: 20px;
}

#prev-search {
  width: 100%;
}

.night-mode-content {
  background: linear-gradient(to bottom right, #2b2a2a, #202020);
}

.weather-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  visibility: hidden;
  border: 2px solid #333333;
  box-shadow: 2px 2px 8px rgb(105, 104, 104);
  border-radius: 10px;
  margin-left: 10px;
  max-height: 475px;
  background-color: #f0eeee;
}

#current-day {
  background: linear-gradient(to bottom right, #2476ce, #1c2b5a);
  color: whitesmoke;
  margin-top: 10px;
  padding: 5px;
  min-height: 200px;
  border: 2px solid #333333;
  border-radius: 10px;
}

.future-days {
  display: flex;
  flex-direction: row;
}

.cards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.custom-card {
  margin: 10px;
  background: linear-gradient(to bottom right, #2476ce, #1c2b5a);
  color: whitesmoke;
  border-radius: 10px;
}
