* {
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  color: whitesmoke;
  background: linear-gradient(to right, rgb(214, 236, 238), rgb(8, 200, 214));
  padding: 20px;
}

.search-history {
  display: flex;
  justify-content: start;
}

.prev-search {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 3px;
  border: 2px solid black;
  border-radius: 10px;
  min-height: 420px;
}

.btn-info {
  margin-bottom: 3px;
}
